$primary: #45108a;

// accordion

$accordion-bg: transparent;
$accordion-border-width: 0;
$accordion-button-color: white;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: none;
